* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
  background-color: #222222;
  color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 2rem;
  background-color: #333;
  border-radius: 10px;
  max-width: 800px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

main #search-form form {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

main #search-form input {
    flex: 1;
    height: 32px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
}

main #search-form button {
    height: 32px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 0rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

main #tempo-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main #tempo-info .tempo-dados h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0.2rem;
}

main #tempo-info .tempo-dados span {
    font-size: 3rem;
    font-weight: bold;
}